.out
*.txt
.DS_Store
launch.json
old_tasks.json
Info.plist
*.json
*.svg
envelope_follower

!src/CMakeLists.txt
!test/CMakeLists.txt
!assets/images/*
.vscode/*
envelope_follower.dSYM/
*.exe

# Ignore CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
